{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./App/Components",
          "@constants": "./App/Constants",
          "@screens": "./App/Screen",
          "@redux": "./App/Redux",
          "@assets": "./App/Assets",
          "@themes": "./App/Themes",
          "@services": "./App/Services"
        }
      }
    ]
  ]
}
